[Unit]
Description=RemoteLab

[Service]
WorkingDirectory=WORKING_DIR
ExecStart= /bin/bash /usr/bin/remotelab.sh
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
