[Unit]
Description=RemoteLab Server

[Service]
WorkingDirectory=/home/remotelab/RemoteLab/
ExecStart= /bin/bash /usr/bin/remotelab.sh
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
